@{
    ViewData["Title"] = "Sobre";
}
<div class="cont-about">Esse site é uma estante virtual de jogos, filmes e livros, onde você pode ver estantes de outros usuarios e fazer amizades</div>
<h2>Desenvolvedores</h2>

<div>

    <div class="cont-group">
        <div class="cont-name">Arthur Augusto Michelleti de Souza</div>
        <div class="cont-ra">RA: 081180004</div>
    </div>
    <div class="cont-group">
        <div class="cont-name">Guilherme Sant’Anna</div>
        <div class="cont-ra">RA: 081180012</div>
    </div>
    <div class="cont-group">
        <div class="cont-name">Hallef Carvalho Alves</div>
        <div class="cont-ra">RA: 081180014</div>
        </div>
    <div class="cont-group">
        <div class="cont-name">Julia Muniz de Oliveira</div>
        <div class="cont-ra">RA: 081180019</div>
    </div>
    <div class="cont-group">
        <div class="cont-name">Kaian Tiago dos Santos Lima</div>
        <div class="cont-ra">RA: 081180022</div>
    </div>

</div>
